version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      SPRING_DATASOURCE_URL: \
      SPRING_DATASOURCE_USERNAME: \
      SPRING_DATASOURCE_PASSWORD: \
      SERVER_PORT: 8080 
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - '80:80'
